<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">


    <import resource="spring-database-connector.xml"/>

      <context:component-scan base-package="by.luchesa.breakfast.dao*" />
      <context:annotation-config/>

    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="by.luchesa.breakfast.dao.UserMapper"/>
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="roomMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="by.luchesa.breakfast.dao.RoomMapper"/>
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userRolesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="by.luchesa.breakfast.dao.UserRolesMapper"/>
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="breakfastMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="by.luchesa.breakfast.dao.BreakfastMapper"/>
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="orderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="by.luchesa.breakfast.dao.OrderMapper"/>
        <property name="sqlSessionFactory" ref="sessionFactory"/>
    </bean>

</beans>

