<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.luchesa.breakfast.dao.UserMapper">
    <resultMap id="user" type="by.luchesa.breakfast.datamodel.User">
        <id property ="primaryKey" column="user_id" />
        <result column="username" property="userName"/>
        <result column="password" property="password" />
        <result column="enabled"  property="enabled" />
        <association property="userRoles" column="user_role_id"
                     javaType="by.luchesa.breakfast.datamodel.UserRoles"
                     select="by.luchesa.breakfast.dao.UserRolesMapper.getUserRoleId"
        />
    </resultMap>
   <!-- <sql id="userColumns">username, enabled, password</sql>-->
    <select id="getByUserName" parameterType="string" resultMap="user">
        SELECT
            *
        FROM
            users
        WHERE username = #{userName};
    </select>

    <select id="getByPrimaryKey" parameterType="java.lang.Integer" resultMap="user">
        SELECT
            *
        FROM
            users
        WHERE user_id=#{primaryKey};
    </select>

    <select id="getAll" resultMap="user">
        SELECT
            *
        FROM
            users
        ORDER BY
            user_id;
    </select>

    <insert id="create">
        INSERT INTO users
            (username, password, enabled, user_role_id)
        VALUES
            (#{userName}, #{password}, 'true', #{userRoles.userRoleId});

    </insert>

    <update id="update">
        UPDATE users
        SET
            username=#{userName}, password=#{password}, enabled=#{enabled}, user_role_id=#{userRoles.userRoleId}
        WHERE
            user_id=#{primaryKey};
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        UPDATE users
        SET
            enabled='false'
        WHERE
            user_id=#{primaryKey};
    </update>


</mapper>