<beans:beans  xmlns="http://www.springframework.org/schema/security"
              xmlns:beans="http://www.springframework.org/schema/beans"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="
              http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
              http://www.springframework.org/schema/security
              http://www.springframework.org/schema/security/spring-security-4.2.xsd">


   <!-- <import resource="classpath*:/spring-database-connector.xml"/>-->
    <!-- Здесь располагаются элементы без префикса security: -->
    <beans:import resource="spring-database-connector.xml"/>
    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />

        <form-login
                login-page="/login"
                default-target-url="/index"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" />
        <logout logout-success-url="/login?logout"  />
        <csrf/>
    </http>

<!--
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="mkyong" password="123456" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
-->
    <!-- Select users and user_roles from database -->
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service
                    id="userService"
                    data-source-ref="dataSource"
                               users-by-username-query=
                                       "SELECT username, password, enabled FROM users WHERE username=?"
                               authorities-by-username-query=
                                       "SELECT username, role FROM user_roles WHERE username =?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>
